# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\komra\IdeaProjects\swordieser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
/out
kotiki-java/DAO/target
kotiki-java/services/target
kotiki-java/target
/lib
*.iml
kotiki-java/web/mvnw*
kotiki-java/web/.mvn

kotiki-java/web/target
kotiki-java/web/HELP.md
